#ContactInformation {
    min-height: calc(100vh - 209px);
}

a {
    color: blue;
    cursor: pointer;
}

@media (max-width: 905) {
    #ContactInformation {
        flex-flow: column wrap;
        min-height: calc(100vh - 317px);
        padding: 0px 10px;
    }
}